 <!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="~/assets/admin/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Skodash</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class="bi bi-chevron-double-left"></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

        <li>
            <a href="/Home/Index" target="_blank">
                <div class="parent-icon">
                    <i class="bi bi-house-door"></i>
                </div>
                <div class="menu-title">Trang chủ</div>
            </a>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bi bi-people"></i>
                </div>
                <div class="menu-title">Hệ thống</div>
            </a>
            <ul>
                <li>
                    <a href="/UserGroup/Index"><i class="bi bi-arrow-right-short"></i>Nhóm người dùng</a>
                </li>
                <li>
                    <a href="/User/Index"><i class="bi bi-arrow-right-short"></i>Người dùng</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bi bi-newspaper"></i>
                </div>
                <div class="menu-title">Tin tức</div>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Category/Index"><i class="bi bi-arrow-right-short"></i>Danh mục</a>
                </li>
                <li>
                    <a href="/Content/Index"><i class="bi bi-arrow-right-short"></i>Tin tức</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bi bi-list-task"></i>
                </div>
                <div class="menu-title">Sản phẩm</div>
            </a>
            <ul>
                <li>
                    <a href="/Admin/ProductCategory/Index"><i class="bi bi-arrow-right-short"></i>Danh mục</a>
                </li>
                <li>
                    <a href="/Admin/Product/Index"><i class="bi bi-arrow-right-short"></i>Tin tức</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="bi bi-gear"></i>
                </div>
                <div class="menu-title">Quản lý trang</div>
            </a>
            <ul>
                <li>
                    <a href="/Admin/About/Index"><i class="bi bi-arrow-right-short"></i>Giới thiệu</a>
                </li>
                <li>
                    <a href="/Admin/Footer/Index"><i class="bi bi-arrow-right-short"></i>Footer</a>
                </li>
                <li>
                    <a href="/Admin/Menu/Index"><i class="bi bi-arrow-right-short"></i>Menu</a>
                </li>
                <li>
                    <a href="/Admin/Slide/Index"><i class="bi bi-arrow-right-short"></i>Slide</a>
                </li>
                <li>
                    <a href="/Admin/Feedback/Index"><i class="bi bi-arrow-right-short"></i>Phản hồi</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="https://themeforest.net/user/codervent" target="_blank">
                <div class="parent-icon">
                    <i class="bi bi-headset"></i>
                </div>
                <div class="menu-title">Hỗ trợ</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
</aside>
<!--end sidebar -->
